<%= form_with(model: doktor) do |form| %>
  <% if doktor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doktor.errors.count, "error") %> prohibited this doktor from being saved:</h2>

      <ul>
        <% doktor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
    <div class="field form-group">
    <% form.label :user_id %>
    <%= form.number_field :user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
