<%= form_with(model: pacient) do |form| %>
  <% if pacient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pacient.errors.count, "error") %> prohibited this pacient from being saved:</h2>

      <ul>
        <% pacient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <% form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Imię" %>
  </div>

  <div class="field form-group">
    <% form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control", placeholder:"Nazwisko" %>
  </div>

  <div class="field form-group">
    <% form.label :age %>
    <%= form.number_field :age, class:"form-control", placeholder:"Wiek"%>
  </div>
  <div class="field form-group">
    <% form.label :user_id %>
    <%= form.number_field :user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
